<!DOCTYPE html>
<html>
<head>

<!-- You should edit or add a meta tag in your <head> area of each page you generate as -->
<meta name="dj4e" content="4af35259e040dfc3e952faa7e78f30cf">

</head>
<body>

{% extends "base_bootstrap.html" %}

{% block content %}

<h1>Delete Breed</h1>

<p>Are you sure you delete the breed: {{ breed }}? The deletion will be permanent.</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" value="Yes, delete.">
  <input type="submit" onclick="window.location='{% url 'cats:all' %}' ; return false;" value="Cancel">
</form>

{% endblock %}

</body>
</html>
